* {    
    margin: 0;
    padding: 0;
 }

body {background:#e5e5e5;}

.bg-body {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .25s;
    pointer-events: none;
}

li {list-style:none;}

li a {
    display: block;
    float: left;
    width: 20%;
    padding: 25px 0;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #e5e5e5;
    text-decoration: none;
    text-transform: uppercase;
    transition:.25s;
}

.nav {  
    width:500px;
    margin:60px auto 0 auto;
}

.first { border-radius: 50% 0 0 50%; }
.last  { border-radius: 0 50% 50% 0; }
      
li:nth-child(1) a { background:#3CB5B5; }
li:nth-child(2) a { background:#FCD920; }
li:nth-child(3) a { background:#E53B51; }
li:nth-child(4) a { background:#EC6C20; }
li:nth-child(5) a { background:#92AE01; }

li:nth-child(1):hover ~ .bg-body { background: #3CB5B5; }
li:nth-child(2):hover ~ .bg-body { background: #FCD920; }
li:nth-child(3):hover ~ .bg-body { background: #E53B51; }
li:nth-child(4):hover ~ .bg-body { background: #EC6C20; }
li:nth-child(5):hover ~ .bg-body { background: #92AE01; }